<nav class="nav-bar">
  <div class="home-page">
    <a href="/">回到首頁</a>
  </div>
  <div class="others">
    <a href="/about">About</a>
    <a class="active" href="/portfolio">Portfolio</a>
    <a href="/contact">Contact</a>
  </div>
</nav>
<h1>Portfolio</h1>