.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

.others {
  display: flex;
  width: 600px;
  justify-content: space-around;
}

.nav-bar a {
  width: 200px;
  display: inline-block;
  line-height: 50px;
  height: 100%;
  background-color: #aaa;
  border-radius: 1rem;
  text-align: center;
  margin: 0 10px;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.nav-bar .active {
  background-color: black;
  color: white;
}